/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */


@media Screen and (max-width: 750px) {

    .newLogo {

    
        min-width: 125px;
        width: 15%;
        margin:50px; /* Required */
        position: absolute; /* Required */
        top:0; /* Aligns at the top */
        left:0;right:0; /* Aligns horizontal center */
        
    
    }

    .symbol {

    
        
        margin:100px; /* Required */
        position: absolute; /* Required */
        top: 0; /* Aligns at the top */
        left:0;right:0; /* Aligns horizontal center */
        
    
    }

    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    max-width: 100%; /* Full width */

    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

   }
   
   
   /* Modal Content */
   .modalContent {
    z-index: 1; /* Sit on top */
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;

    min-height: 200px;

     overflow: auto; 
   
   }

}


html,body{ 
	width:100%;
	height:100%;
  
  font-family: 'Roboto Condensed', sans-serif;

}

canvas{
  display:block;
  vertical-align:bottom;
}

/* this is all copy pasted from old site! */



.bg{

  /* The image used */
 background-image: url("picture.png");

 /* Full height */
 height: 100%; 

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

    font-size: 25px;

}

.item{

    display: flex;
    vertical-align: top;
    display: inline-block;
    text-align: center;

}

.logo {

   background-image: url("sonderdev.png");

   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: inline-block;
   max-width: 600px;
   width: 50%;
   min-width: 400px;
   height: auto;

}

.newLogo {

    
    max-width: 100px;
    width: 15%;
    margin:auto; /* Required */
    position:absolute; /* Required */
    bottom:0; /* Aligns at the bottom */
    left:0;right:0; /* Aligns horizontal center */
    

}

.git{

  font-size: 40px;
  font-weight: 800;

}

h3{

    color: white;
    position: absolute;
    
    text-align: center;

    font-weight: 30;
 
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

}

h2{
    position: absolute;
    
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;    
    color: white;
    text-decoration: none;
    bottom: 6%;
    left: 2%;
}

h2:hover{

    color: grey;
    cursor: pointer;

}

a{

    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: normal;


}

a:hover{

    color: grey;
    cursor: pointer;

}


h4{

    font-size: 18px;
    text-align: center;
    font-weight: 40;

}

#contact{

    cursor: pointer;

}

.contactbtn{

    position: fixed;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    text-align: center;
    
    font-size: 15px;         

    border-radius: 0px;
    font-weight: bold;

    bottom: 3%;
    right: 2%;

    padding: 10px 45px;

    cursor: pointer;

}

.clickable {
    cursor: pointer;
}

.contactbtn:hover{

    background-color: white;
    color:black;
    cursor: pointer;

}

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 max-width: 100%; /* Full width */
 max-height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 -webkit-animation-name: fadeIn; /* Fade in the background */
 -webkit-animation-duration: 0.4s;
 animation-name: fadeIn;
 animation-duration: 0.4s
}


/* Modal Content */
.modalContent {
 position: fixed;
 bottom: 0;
 background-color: #fefefe;
 width: 100%;
 max-height: 100%;
 -webkit-animation-name: slideIn;
 -webkit-animation-duration: 0.4s;
 animation-name: slideIn;
 animation-duration: 0.4s;
  overflow: auto; 

}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
 padding: 10px;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

.modal-header {
 padding: 2px 16px;
 background-color: #5cb85c;
 color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
 padding: 2px 16px;
 background-color: #5cb85c;
 color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
 from {bottom: -300px; opacity: 0} 
 to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
 from {bottom: -300px; opacity: 0}
 to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
 from {opacity: 0} 
 to {opacity: 1}
}

@keyframes fadeIn {
 from {opacity: 0} 
 to {opacity: 1}
}


/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
 width: 100%;
 padding: 12px;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
 resize: vertical;
font-family: 'Roboto Condensed', sans-serif;

}

/* Style the label to display next to the inputs */
label {
 padding: 12px 12px 12px 0;
 display: inline-block;
font-family: 'Roboto Condensed', sans-serif;
}

/* Style the submit button */
input[type=submit] {
 background-color: #4286f4;
 color: white;
 padding: 12px 20px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 float: right;
font-family: 'Roboto Condensed', sans-serif;
 font-size: 15px;
 color: black;
 width: 100px;
}

input[type=submit]:hover{

    background-color: black;
    color: white;

}

/* Style the container */
.container {
 border-radius: 5px;
 background-color: white;
 padding: 20px;
font-family: 'Roboto Condensed', sans-serif;

}

/* Floating column for labels: 25% width */
.col-25 {
 float: left;
 width: 25%;
 margin-top: 6px;
font-family: 'Roboto Condensed', sans-serif;
}

/* Floating column for inputs: 75% width */
.col-75 {
 float: left;
 width: 75%;
 margin-top: 6px;
font-family: 'Roboto Condensed', sans-serif;
}

/* Clear floats after the columns */
.row:after {
 content: "";
 display: table;
 clear: both;
font-family: 'Roboto Condensed', sans-serif;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

/*
@media screen and (max-width: 600px) {
 .col-25, .col-75, input[type=submit] {
   width: 100%;
   margin-top: 0;
 }
}

*/


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
